{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        {{ if .Title }}<h1 class="site-signature hx-text-center hx-mt-2 hx-text-4xl hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>{{ end }}
        <div class="content">
          {{ .Content }}
        </div>
        {{- with site.GetPage "/research" }}
          {{- $posts := .Pages }}
          {{- if gt (len $posts) 0 }}
            {{- $recent := first 3 $posts }}
            <hr class="hx-my-8 dark:hx-border-neutral-800" />
            <h2 class="hx-text-2xl hx-font-semibold hx-tracking-tight">Recent Research</h2>
            <div class="hx-mt-4">
              {{- range $recent }}
                <div class="hx-mb-6">
                  <a class="hx-font-medium hx-text-lg" style="text-decoration: none; color: inherit;" href="{{ .RelPermalink }}">{{ .Title }}</a>
                  <p class="hx-opacity-50 hx-text-sm hx-mt-1">{{ partial "utils/format-date" .Date }}</p>
                </div>
              {{- end }}
            </div>
          {{- end }}
        {{- end }}
      </main>
    </article>
  </div>
{{ end }}
